.container-fluid
    .row.services
        - for (var k = 0; k < 4; k++)
            .col-md-4
                .service
                    .icon-holder
                        img(src="img/icons/heart-blue.png" alt="" class="icon")
                        h4.heading = Cardio Training
                        p.description A elementum ligula lacus ac quam ultrices a scelerisque praesent vel suspendisse scelerisque a aenean hac montes.